{% load fixActionTypes %}
{% load fixRechargeTypes %}
<section class="cp-ability-controls">
<div class="cp-ability-controls__wrapper">
<span class="cp-ability-controls__text">Filter by</span>
<div class="cp-ability-controls__dropdown cp-ability-controls__dropdown--actionType">
    <fieldset>
        <legend class="cp-ability-controls__dropdown-title">Action Type</legend>
       <ul>
        <li>
            <label for="actiontype-all--toggle">All</label>
            <input type="radio" name="actionType" id="actiontype-all--toggle" data-toggle="all">
        </li>
        {% for actionType in actionTypes %}
            <li>
                <label for="{{actionType}}--toggle">{{actionType|fixActionTypes}}</label>
                <input type="radio" id="{{actionType}}--toggle" name="actionType" data-toggle="{{actionType}}">
            </li>
        {% endfor %}
        </ul>
    </fieldset>
</div>
<span class="cp-ability-controls__text">or</span>
<div class="cp-ability-controls__dropdown cp-ability-controls__dropdown--recharge">
    <fieldset>
    <legend class="cp-ability-controls__dropdown-title">Recharge</legend>
       <ul>
        <li>
            <label for="recharge-all--toggle">All</label>
            <input type="radio" name="recharge" id="recharge-all--toggle" data-toggle="all">
        </li>
        {% for recharge in recharges %}
            <li>
                <label for="{{recharge}}--toggle">{{recharge|fixRechargeTypes}}</label>
                <input type="radio" id="{{recharge}}--toggle" name="recharge" data-toggle="{{recharge}}">
            </li>
        {% endfor %}
        </ul>
    </fieldset>
</div>
<span class="cp-ability-controls__text">or</span>
<div class="cp-ability-controls__dropdown cp-ability-controls__dropdown--keyword">
    <fieldset>
    <legend class="cp-ability-controls__dropdown-title">Keyword</legend>
       <ul>
<!--
        <li>
            <label for="keyword-all--toggle">All</label>
            <input type="checkbox" id="keyword-all--toggle" data-toggle="all">
        </li>
-->
        {% for keyword in keywords %}
            <li>
                <label for="{{keyword}}--toggle">{{keyword}}</label>
                <input type="checkbox" id="{{keyword}}--toggle" data-toggle="{{keyword}}">
            </li>
        {% endfor %}
        </ul>
    </fieldset>
</div>                
<div class="cp-ability-controls__controls-reset">
   <button>RESET</button>
</div>
</div>
<div class="cp-ability-controls__menu-toggle">Filters</div>
</section>
