                <div class="monster">
                    <table border="0" cellspacing="0">
                        <tr class="header">
                            <td class="name">
                                <h2>{{monster.name}}</h2>
                            </td>
                            <td class="level">
                                <span>{{monster.level}}</span>
                            </td>
                        </tr>
                        <tr class="header">
                            <td class="origin">
                                <span>{{monster.origin}}</span>
                            </td>
                            <td class="xp">
                                <span>XP {{monster.XP}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="initiative">
                                <strong>Initiative</strong>
                                <span> {{monster.initiative}}</span>
                            </td>
                            <td class="senses">
                                <strong>Senses Perception +14; darkvision</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="aura" colspan="2">
                                <strong>Mucus Haze </strong>
                                <span>aura 5; enemies treat the area within the aura as difficult terrain</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="hp" colspan="2">
                                <strong>HP </strong>
                                <span>200;</span>
                                <strong>Bloodied </strong>
                                <span>100</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="defenses" colspan="2">
                                <strong>AC </strong>
                                <span>200;</span>
                                <strong>Fortitude </strong>
                                <span>100;</span>
                                <strong>Reflex </strong>
                                <span>100;</span>
                                <strong>Will </strong>
                                <span>100;</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="save" colspan="2">
                                <strong>Saving Throws </strong>
                                <span> +2</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="speed" colspan="2">
                                <strong>Speed </strong>
                                <span>5, swim 10</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="ap" colspan="2">
                                <strong>Action Points </strong>
                                <span>1</span>
                            </td>
                        </tr>
                        {% for power in powers %}
                        <tr class="dark">
                            <td class="power-name" colspan="2">
                                <strong>Tentacle </strong>
                                <span>(standard; at-will)</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="power-effect" colspan="2">
                                <strong>Reach 2; </strong>
                                <span>+20 vs. AC; 2d8 + 8 damage (4d8 + 8 damage against a dazed target), and the target is dazed (save ends).</span>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="dark">
                            <td class="alignment">
                                <strong>Alignment</strong>
                                <span> Unaligned</span>
                            </td>
                            <td class="languages">
                                <strong>Languages</strong>
                                <strong>Common</span>
                            </td>
                        </tr>
                        <tr class="dark">
                            <td class="defenses" colspan="2">
                                <strong>Str </strong><span>24 (+15),</span>
                                <strong>Dex </strong><span>15 (+10),</span>
                                <strong>Wis </strong><span>10 (+8),</span>
                            </td>
                        </tr>
                        <tr class="dark">
                            <td class="defenses" colspan="2">
                                <strong>Con </strong><span>20 (+13),</span>
                                <strong>Int </strong><span>10 (+8),</span>
                                <strong>Cha </strong><span>10 (+8)</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="equipment" colspan="2">
                                <strong>Equipment: </strong>
                                <span>plate armor, greatsword</span>
                            </td>
                        </tr>
                        <tr class="dark">
                            <td class="inventory" colspan="2">
                                <strong>Inventory: </strong>
                                <span>Potion of Health</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="book-location" colspan="2">
                                <span>Monster Manual, Page 1</span>
                            </td>
                        </tr>
                    </table>
                </div>
