<html>
	<head>
	<link rel="stylesheet" href="main.css">
	
	<!-- font collection -->
	<!-- http://www.google.com/fonts#UsePlace:use/Collection:Lato:300,400,700,900,300italic,400italic,700italic,900italic|Gentium+Book+Basic:400,400italic,700italic,700 -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Gentium+Book+Basic:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
	
	</head>
	<body>
		<section id="abilities-wrapper">
		
			<div class="ability at-will">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>Triple Shot</h2>
						</td>
						<td class="level">
							<span>Ranger Attack 17</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							Ahoy there, sailor, Can you do the otter dance? First you take your right flipper, and you slap it on your pants Next you take your left flipper, and you catch a little fish Then you take your little tail and you swish, swish, swish!
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">Encounter</strong>
							<span class="separator">~</span>
							<ul>
								<li>Martial</li>
								<li>Weapon</li>
								<li>Martial</li>
								<li>Weapon</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>Standard Action</strong>
						</td>
						<td class="attack-type">
							<strong>Ranged</strong> <span class="attack-range">weapon</span>
						</td>
					</tr>
					<tr>
						<td class="trigger" colspan="2">
							<strong>Triger: </strong>
							<span>Ally Dies</span>
						</td>
					</tr>
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>Axe Prof</span>
						</td>
					</tr>
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>Axe</span>
						</td>
					</tr>
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>One Creature</span>
						</td>
					</tr>
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>Strength +1 vs Wisdom, three attacks</span>
						</td>
					</tr>
					<!--Begin added dark class to odd numbered rows-->
					<tr class="dark">
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>1[W] + Strength Modifier damage per attack. If both attacks hit, deal an additional 1d10 damage and the target is weakened until the end of your next turn.</span>
						</td>
					</tr>
					<tr>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>half weapon damage on one attack.</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>hit one other pleb for 5 damage.</span>
						</td>
					</tr>
					<tr>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>Strength vs AC for 5 damage</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>Bitches be dead.</span>
						</td>
					</tr>
					<tr>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>Reasonable</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>Very.</span>
						</td>
					</tr>
					<tr>
						<td class="book-location" colspan="2">
							<span>Player Handbook 1, page 111</span>
						</td>
					</tr>
				</table>
			</div><!--
			
			
		
			--><div class="ability encounter">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>Triple Shot</h2>
						</td>
						<td class="level">
							<span>Ranger Attack 17</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							Ahoy there, sailor, Can you do the otter dance? First you take your right flipper, and you slap it on your pants Next you take your left flipper, and you catch a little fish Then you take your little tail and you swish, swish, swish!
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">Encounter</strong>
							<span class="separator">~</span>
							<ul>
								<li>Martial</li>
								<li>Weapon</li>
								<li>Martial</li>
								<li>Weapon</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>Standard Action</strong>
						</td>
						<td class="attack-type">
							<strong>Ranged</strong> <span class="attack-range">weapon</span>
						</td>
					</tr>
					<tr>
						<td class="trigger" colspan="2">
							<strong>Triger: </strong>
							<span>Ally Dies</span>
						</td>
					</tr>
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>Axe Prof</span>
						</td>
					</tr>
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>Axe</span>
						</td>
					</tr>
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>One Creature</span>
						</td>
					</tr>
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>Strength +1 vs Wisdom, three attacks</span>
						</td>
					</tr>
					<!--Begin added dark class to odd numbered rows-->
					<tr class="dark">
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>1[W] + Strength Modifier damage per attack. If both attacks hit, deal an additional 1d10 damage and the target is weakened until the end of your next turn.</span>
						</td>
					</tr>
					<tr>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>half weapon damage on one attack.</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>hit one other pleb for 5 damage.</span>
						</td>
					</tr>
					<tr>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>Strength vs AC for 5 damage</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>Bitches be dead.</span>
						</td>
					</tr>
					<tr>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>Reasonable</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>Very.</span>
						</td>
					</tr>
					<tr>
						<td class="book-location" colspan="2">
							<span>Player Handbook 1, page 111</span>
						</td>
					</tr>
				</table>
			</div><!--
			
			
		
			--><div class="ability daily">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>Triple Shot</h2>
						</td>
						<td class="level">
							<span>Ranger Attack 17</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							Ahoy there, sailor, Can you do the otter dance? First you take your right flipper, and you slap it on your pants Next you take your left flipper, and you catch a little fish Then you take your little tail and you swish, swish, swish!
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">Encounter</strong>
							<span class="separator">~</span>
							<ul>
								<li>Martial</li>
								<li>Weapon</li>
								<li>Martial</li>
								<li>Weapon</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>Standard Action</strong>
						</td>
						<td class="attack-type">
							<strong>Ranged</strong> <span class="attack-range">weapon</span>
						</td>
					</tr>
					<tr>
						<td class="trigger" colspan="2">
							<strong>Triger: </strong>
							<span>Ally Dies</span>
						</td>
					</tr>
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>Axe Prof</span>
						</td>
					</tr>
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>Axe</span>
						</td>
					</tr>
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>One Creature</span>
						</td>
					</tr>
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>Strength +1 vs Wisdom, three attacks</span>
						</td>
					</tr>
					<!--Begin added dark class to odd numbered rows-->
					<tr class="dark">
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>1[W] + Strength Modifier damage per attack. If both attacks hit, deal an additional 1d10 damage and the target is weakened until the end of your next turn.</span>
						</td>
					</tr>
					<tr>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>half weapon damage on one attack.</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>hit one other pleb for 5 damage.</span>
						</td>
					</tr>
					<tr>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>Strength vs AC for 5 damage</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>Bitches be dead.</span>
						</td>
					</tr>
					<tr>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>Reasonable</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>Very.</span>
						</td>
					</tr>
					<tr>
						<td class="book-location" colspan="2">
							<span>Player Handbook 1, page 111</span>
						</td>
					</tr>
				</table>
			</div><!--
		
			--><div class="ability at-will">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>Triple Shot</h2>
						</td>
						<td class="level">
							<span>Ranger Attack 17</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							Ahoy there, sailor, Can you do the otter dance? First you take your right flipper, and you slap it on your pants Next you take your left flipper, and you catch a little fish Then you take your little tail and you swish, swish, swish!
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">Encounter</strong>
							<span class="separator">~</span>
							<ul>
								<li>Martial</li>
								<li>Weapon</li>
								<li>Martial</li>
								<li>Weapon</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>Standard Action</strong>
						</td>
						<td class="attack-type">
							<strong>Ranged</strong> <span class="attack-range">weapon</span>
						</td>
					</tr>
					<tr>
						<td class="trigger" colspan="2">
							<strong>Triger: </strong>
							<span>Ally Dies</span>
						</td>
					</tr>
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>Axe Prof</span>
						</td>
					</tr>
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>Axe</span>
						</td>
					</tr>
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>One Creature</span>
						</td>
					</tr>
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>Strength +1 vs Wisdom, three attacks</span>
						</td>
					</tr>
					<!--Begin added dark class to odd numbered rows-->
					<tr class="dark">
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>1[W] + Strength Modifier damage per attack. If both attacks hit, deal an additional 1d10 damage and the target is weakened until the end of your next turn.</span>
						</td>
					</tr>
					<tr>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>half weapon damage on one attack.</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>hit one other pleb for 5 damage.</span>
						</td>
					</tr>
					<tr>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>Strength vs AC for 5 damage</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>Bitches be dead.</span>
						</td>
					</tr>
					<tr>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>Reasonable</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>Very.</span>
						</td>
					</tr>
					<tr>
						<td class="book-location" colspan="2">
							<span>Player Handbook 1, page 111</span>
						</td>
					</tr>
				</table>
			</div><!--
			
			
		
			--><div class="ability encounter">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>Triple Shot</h2>
						</td>
						<td class="level">
							<span>Ranger Attack 17</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							Ahoy there, sailor, Can you do the otter dance? First you take your right flipper, and you slap it on your pants Next you take your left flipper, and you catch a little fish Then you take your little tail and you swish, swish, swish!
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">Encounter</strong>
							<span class="separator">~</span>
							<ul>
								<li>Martial</li>
								<li>Weapon</li>
								<li>Martial</li>
								<li>Weapon</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>Standard Action</strong>
						</td>
						<td class="attack-type">
							<strong>Ranged</strong> <span class="attack-range">weapon</span>
						</td>
					</tr>
					<tr>
						<td class="trigger" colspan="2">
							<strong>Triger: </strong>
							<span>Ally Dies</span>
						</td>
					</tr>
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>Axe Prof</span>
						</td>
					</tr>
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>Axe</span>
						</td>
					</tr>
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>One Creature</span>
						</td>
					</tr>
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>Strength +1 vs Wisdom, three attacks</span>
						</td>
					</tr>
					<!--Begin added dark class to odd numbered rows-->
					<tr class="dark">
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>1[W] + Strength Modifier damage per attack. If both attacks hit, deal an additional 1d10 damage and the target is weakened until the end of your next turn.</span>
						</td>
					</tr>
					<tr>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>half weapon damage on one attack.</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>hit one other pleb for 5 damage.</span>
						</td>
					</tr>
					<tr>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>Strength vs AC for 5 damage</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>Bitches be dead.</span>
						</td>
					</tr>
					<tr>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>Reasonable</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>Very.</span>
						</td>
					</tr>
					<tr>
						<td class="book-location" colspan="2">
							<span>Player Handbook 1, page 111</span>
						</td>
					</tr>
				</table>
			</div><!--
			
			
		
			--><div class="ability daily">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>Triple Shot</h2>
						</td>
						<td class="level">
							<span>Ranger Attack 17</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							Ahoy there, sailor, Can you do the otter dance? First you take your right flipper, and you slap it on your pants Next you take your left flipper, and you catch a little fish Then you take your little tail and you swish, swish, swish!
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">Encounter</strong>
							<span class="separator">~</span>
							<ul>
								<li>Martial</li>
								<li>Weapon</li>
								<li>Martial</li>
								<li>Weapon</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>Standard Action</strong>
						</td>
						<td class="attack-type">
							<strong>Ranged</strong> <span class="attack-range">weapon</span>
						</td>
					</tr>
					<tr>
						<td class="trigger" colspan="2">
							<strong>Triger: </strong>
							<span>Ally Dies</span>
						</td>
					</tr>
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>Axe Prof</span>
						</td>
					</tr>
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>Axe</span>
						</td>
					</tr>
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>One Creature</span>
						</td>
					</tr>
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>Strength +1 vs Wisdom, three attacks</span>
						</td>
					</tr>
					<!--Begin added dark class to odd numbered rows-->
					<tr class="dark">
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>1[W] + Strength Modifier damage per attack. If both attacks hit, deal an additional 1d10 damage and the target is weakened until the end of your next turn.</span>
						</td>
					</tr>
					<tr>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>half weapon damage on one attack.</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>hit one other pleb for 5 damage.</span>
						</td>
					</tr>
					<tr>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>Strength vs AC for 5 damage</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>Bitches be dead.</span>
						</td>
					</tr>
					<tr>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>Reasonable</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>Very.</span>
						</td>
					</tr>
					<tr>
						<td class="book-location" colspan="2">
							<span>Player Handbook 1, page 111</span>
						</td>
					</tr>
				</table>
			</div><!--
		
			--><div class="ability at-will">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>Triple Shot</h2>
						</td>
						<td class="level">
							<span>Ranger Attack 17</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							Ahoy there, sailor, Can you do the otter dance? First you take your right flipper, and you slap it on your pants Next you take your left flipper, and you catch a little fish Then you take your little tail and you swish, swish, swish!
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">Encounter</strong>
							<span class="separator">~</span>
							<ul>
								<li>Martial</li>
								<li>Weapon</li>
								<li>Martial</li>
								<li>Weapon</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>Standard Action</strong>
						</td>
						<td class="attack-type">
							<strong>Ranged</strong> <span class="attack-range">weapon</span>
						</td>
					</tr>
					<tr>
						<td class="trigger" colspan="2">
							<strong>Triger: </strong>
							<span>Ally Dies</span>
						</td>
					</tr>
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>Axe Prof</span>
						</td>
					</tr>
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>Axe</span>
						</td>
					</tr>
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>One Creature</span>
						</td>
					</tr>
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>Strength +1 vs Wisdom, three attacks</span>
						</td>
					</tr>
					<!--Begin added dark class to odd numbered rows-->
					<tr class="dark">
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>1[W] + Strength Modifier damage per attack. If both attacks hit, deal an additional 1d10 damage and the target is weakened until the end of your next turn.</span>
						</td>
					</tr>
					<tr>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>half weapon damage on one attack.</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>hit one other pleb for 5 damage.</span>
						</td>
					</tr>
					<tr>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>Strength vs AC for 5 damage</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>Bitches be dead.</span>
						</td>
					</tr>
					<tr>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>Reasonable</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>Very.</span>
						</td>
					</tr>
					<tr>
						<td class="book-location" colspan="2">
							<span>Player Handbook 1, page 111</span>
						</td>
					</tr>
				</table>
			</div><!--
			
			
		
			--><div class="ability encounter">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>Triple Shot</h2>
						</td>
						<td class="level">
							<span>Ranger Attack 17</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							Ahoy there, sailor, Can you do the otter dance? First you take your right flipper, and you slap it on your pants Next you take your left flipper, and you catch a little fish Then you take your little tail and you swish, swish, swish!
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">Encounter</strong>
							<span class="separator">~</span>
							<ul>
								<li>Martial</li>
								<li>Weapon</li>
								<li>Martial</li>
								<li>Weapon</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>Standard Action</strong>
						</td>
						<td class="attack-type">
							<strong>Ranged</strong> <span class="attack-range">weapon</span>
						</td>
					</tr>
					<tr>
						<td class="trigger" colspan="2">
							<strong>Triger: </strong>
							<span>Ally Dies</span>
						</td>
					</tr>
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>Axe Prof</span>
						</td>
					</tr>
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>Axe</span>
						</td>
					</tr>
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>One Creature</span>
						</td>
					</tr>
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>Strength +1 vs Wisdom, three attacks</span>
						</td>
					</tr>
					<!--Begin added dark class to odd numbered rows-->
					<tr class="dark">
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>1[W] + Strength Modifier damage per attack. If both attacks hit, deal an additional 1d10 damage and the target is weakened until the end of your next turn.</span>
						</td>
					</tr>
					<tr>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>half weapon damage on one attack.</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>hit one other pleb for 5 damage.</span>
						</td>
					</tr>
					<tr>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>Strength vs AC for 5 damage</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>Bitches be dead.</span>
						</td>
					</tr>
					<tr>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>Reasonable</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>Very.</span>
						</td>
					</tr>
					<tr>
						<td class="book-location" colspan="2">
							<span>Player Handbook 1, page 111</span>
						</td>
					</tr>
				</table>
			</div><!--
			
			
		
			--><div class="ability daily">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>Triple Shot</h2>
						</td>
						<td class="level">
							<span>Ranger Attack 17</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							Ahoy there, sailor, Can you do the otter dance? First you take your right flipper, and you slap it on your pants Next you take your left flipper, and you catch a little fish Then you take your little tail and you swish, swish, swish!
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">Encounter</strong>
							<span class="separator">~</span>
							<ul>
								<li>Martial</li>
								<li>Weapon</li>
								<li>Martial</li>
								<li>Weapon</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>Standard Action</strong>
						</td>
						<td class="attack-type">
							<strong>Ranged</strong> <span class="attack-range">weapon</span>
						</td>
					</tr>
					<tr>
						<td class="trigger" colspan="2">
							<strong>Triger: </strong>
							<span>Ally Dies</span>
						</td>
					</tr>
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>Axe Prof</span>
						</td>
					</tr>
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>Axe</span>
						</td>
					</tr>
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>One Creature</span>
						</td>
					</tr>
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>Strength +1 vs Wisdom, three attacks</span>
						</td>
					</tr>
					<!--Begin added dark class to odd numbered rows-->
					<tr class="dark">
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>1[W] + Strength Modifier damage per attack. If both attacks hit, deal an additional 1d10 damage and the target is weakened until the end of your next turn.</span>
						</td>
					</tr>
					<tr>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>half weapon damage on one attack.</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>hit one other pleb for 5 damage.</span>
						</td>
					</tr>
					<tr>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>Strength vs AC for 5 damage</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>Bitches be dead.</span>
						</td>
					</tr>
					<tr>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>Reasonable</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>Very.</span>
						</td>
					</tr>
					<tr>
						<td class="book-location" colspan="2">
							<span>Player Handbook 1, page 111</span>
						</td>
					</tr>
				</table>
			</div>
			
			
		</section>
	</body>
</html>