<html>
	<head>
	<link rel="stylesheet" href="/media/dungeoneer/css/main.css">
	
	<!-- font collection -->
	<!-- http://www.google.com/fonts#UsePlace:use/Collection:Overlock+SC|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Gentium+Book+Basic:400,400italic,700italic,700-->
	<link href='http://fonts.googleapis.com/css?family=Overlock+SC|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Gentium+Book+Basic:400,400italic,700italic,700' rel='stylesheet' type='text/css'>

	</head>
	<body id="abilitiesTemplate">
		<section id="abilities-wrapper">            
		<!--
		{% for ability in abilities %}
			--><div class="ability {{ability.get_recharge_display|lower}}">
				<table border="0" cellspacing="0">
					<tr class="header">
						<td class="name">
							<h2>{{ability.name}}</h2>
						</td>
						<td class="level">
							<span>{{ability.level}}</span>
						</td>
					</tr>
					<tr class="dark">
						<td class="flavour"  colspan="2">
							{{ability.flavor}}
						</td>
					</tr>
					<tr>
						<td class="keywords"  colspan="2">
							<strong class="recharge">{{ability.get_recharge_display}}</strong>
							<span class="separator">~</span>
							<ul>
								{% for keyword in ability.keywords.all %}
									<li>{{keyword}}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
					<tr>
						<td class="action-type">
							<strong>{{ability.get_actionType_display}}</strong>
						</td>
						<td class="attack-type">
							<strong>{{ability.get_attackType_display}}</strong> <span class="attack-range">{{ability.attackRange}}</span>
						</td>
					</tr>
					{% if ability.trigger %}
					<tr>
						<td class="trigger" colspan="2">
							<strong>Trigger: </strong>
							<span>{{ability.trigger}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.prerequisite %}
					<tr>
						<td class="prerequisite" colspan="2">
							<strong>Prerequisite: </strong>
							<span>{{ability.prerequisite}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.requirement %}
					<tr>
						<td class="requirement " colspan="2">
							<strong>Requirement: </strong>
							<span>{{ability.requirement}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.target %}
					<tr>
						<td class="target" colspan="2">
							<strong>Target: </strong>
							<span>{{ability.target}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.attackStat %}
					<tr>
						<td class="attack" colspan="2">
							<strong>Attack: </strong>
							<span>{{ability.get_attackStat_display}} {{ability.attackStatNote}} vs {{ability.get_defenseStat_display}} {{ability.defenseStatNote}}</span>
						</td>
					</tr>
					{% endif %}
					<!--Begin added dark class to odd numbered rows-->
					{% if ability.hit %}
					<tr {% if not counter.increment|divisibleby:"2" %} class="dark" {% endif %}>
						<td class="hit" colspan="2">
							<strong>Hit: </strong>
							<span>{{ability.hit}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.miss %}
					<tr {% if not counter.increment|divisibleby:"2" %} class="dark" {% endif %}>
						<td class="miss" colspan="2">
							<strong>Miss: </strong>
							<span>{{ability.miss}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.secondaryTarget %}
					<tr {% if not counter.increment|divisibleby:"2" %} class="dark" {% endif %}>
						<td class="secondary-target" colspan="2">
							<strong>Secondary Target: </strong>
							<span>{{ability.secondaryTarget}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.secondaryAttack %}
					<tr {% if not counter.increment|divisibleby:"2" %} class="dark" {% endif %}>
						<td class="secondary-attack" colspan="2">
							<strong>Secondary Attack: </strong>
							<span>{{ability.secondaryAttack}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.effect %}
					<tr {% if not counter.increment|divisibleby:"2" %} class="dark" {% endif %}>
						<td class="effect" colspan="2">
							<strong>Effect: </strong>
							<span>{{ability.effect}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.sustainType %}
					<tr {% if not counter.increment|divisibleby:"2" %} class="dark" {% endif %}>
						<td class="sustain-type" colspan="2">
							<strong>Sustain Type: </strong>
							<span>{{ability.get_sustainType_display}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.special %}
					<tr {% if not counter.increment|divisibleby:"2" %} class="dark" {% endif %}>
						<td class="special" colspan="2">
							<strong>Special: </strong>
							<span>{{ability.special}}</span>
						</td>
					</tr>
					{% endif %}
					{% if ability.notes %}
					<tr {% if not counter.increment|divisibleby:"2" %} class="dark" {% endif %}>
						<td class="notes" colspan="2">
							<span>{{ability.notes|safe}}</span>
						</td>
					</tr>
					{% endif %}
					<tr {% if not counter.increment|divisibleby:"2" %} class="dark" {% endif %}>
						<td class="book-location" colspan="2">
							<span>{{ability.source|default:"Some idiot did not enter a reference... Try PH1?"}}</span>
						</td>
					</tr>
				</table>
			</div><!--
			{% endfor %}
			-->
		</section>
	</body>
</html>