<html>
	<head>
	<link rel="stylesheet" href="{{MEDIA_URL}}dungeoneer/css/main.css">
	
	<!-- font collection -->
	<!-- http://www.google.com/fonts#UsePlace:use/Collection:Overlock+SC|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Gentium+Book+Basic:400,400italic,700italic,700-->
	<link href='http://fonts.googleapis.com/css?family=Overlock+SC|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Gentium+Book+Basic:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
	
	</head>
	<body id="campaignTemplate">
		<section id="campaign-wrapper">

		{% for player in campaign.characters.all %}
			<a href="{% url 'charactermanager.views.abilities' campaign.slug player.slug %}"  class="paper-stack">
				<div class="top-page">
					<div class="content">
						<h2>{{player.name}}</h2>
						{% if player.image %}
						<img src="{{MEDIA_URL}}{{player.image}}">
						{% endif %}
						{{player.summary|safe}}
					</div>
				</div>
			</a>
		{% endfor %}

		
		
		</section>
	</body>
</html>