{% include "dungeoneer/includes/header.html" with pagetitle="Campaigns" %}
	<body id="campaignListTemplate">
		<section id="campaign-list-wrapper">

		{% for campaign in campaigns %}
			<a href="{% url 'charactermanager.views.campaign' campaign.slug %}" class="book">
				<div class="spine" style="background-color:{{campaign.color}};"></div>
				<div class="cover" style="background-color:{{campaign.color}}; background-image: url('{{MEDIA_URL}}{{campaign.image}}');">
					<div class="dnd">Dungeons<br>& Dragons</div>
					<h2 style="background-color:{{campaign.color}};">{{campaign.name}}</h2>
					<div class="ribbon" style="background-color:{{campaign.color}};">Campaign Book</div>
				</div>
				<div class="pages"></div>
				<div class="back-cover" style="background-color:{{campaign.color}};"></div>
			</a>
		{% endfor %}

		
		
		</section>
	</body>
{% include "dungeoneer/includes/footer.html" %}
