<html>
	<head>
	<link rel="stylesheet" href="/media/dungeoneer/css/main.css">
	
	<!-- font collection -->
	<!-- http://www.google.com/fonts#UsePlace:use/Collection:Overlock+SC|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Gentium+Book+Basic:400,400italic,700italic,700-->
	<link href='http://fonts.googleapis.com/css?family=Overlock+SC|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Gentium+Book+Basic:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
	
	</head>
	<body>
		<section id="campaign-list-wrapper">

		{% for campaign in campaigns %}
			<a href="{% url 'charactermanager.views.campaign' campaign.slug %}" class="book">
				<div class="cover" style="background-color:{{campaign.color}}; background-image: url('{{campaign.image}}');">
					<div class="dnd">Dungeons<br>& Dragons</div>
					<h2 style="background-color:{{campaign.color}};">{{campaign.name}}</h2>
					<div class="ribbon" style="background-color:{{campaign.color}};">Campaign Book</div>
				</div>
				<div class="pages"></div>
				<div class="back-cover" style="background-color:{{campaign.color}};"></div>
			</a>
		{% endfor %}

		
		
		</section>
	</body>
</html>