{% include "dungeoneer/includes/header.html" with pagetitle="Campaign - "|add:campaign.name %}
	<body id="campaignTemplate">
		<section id="campaign-wrapper">
		{% for player in campaign.characters.all %}
            {% if player.enabled %}
			<a href="{% url 'charactermanager:abilities' campaign.slug player.slug %}"  class="paper-stack">
				<div class="top-page">
					<div class="content">
						<h2>{{player.name}}</h2>
						{% if player.level %}
						    <span class="player-level">LEVEL: {{player.level}}</span>
						{% endif %}
						{% if player.image %}
						    <img src="{{player.image.url}}">
						{% endif %}
						{{player.summary|safe}}
					</div>
				</div>
			</a>
            {% endif %}
		{% endfor %}
		</section>
	</body>
{% include "dungeoneer/includes/footer.html" %}
